doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title VanNorman Design
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='')
    meta(name='description', content='')
    //
      Template 2075 Digital Team
      http://www.tooplate.com/view/2075-digital-team
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/animate.min.css')
    link(rel='stylesheet', href='css/et-line-font.css')
    link(rel='stylesheet', href='css/nivo-lightbox.css')
    link(rel='stylesheet', href='css/nivo_themes/default/default.css')
    link(rel='stylesheet', href='css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500', rel='stylesheet', type='text/css')
  body(data-spy='scroll', data-target='.navbar-collapse', data-offset='50')
    // preloader section
    .preloader
      .sk-spinner.sk-spinner-circle
        .sk-circle1.sk-circle
        .sk-circle2.sk-circle
        .sk-circle3.sk-circle
        .sk-circle4.sk-circle
        .sk-circle5.sk-circle
        .sk-circle6.sk-circle
        .sk-circle7.sk-circle
        .sk-circle8.sk-circle
        .sk-circle9.sk-circle
        .sk-circle10.sk-circle
        .sk-circle11.sk-circle
        .sk-circle12.sk-circle
    // navigation section
    section.navbar.navbar-fixed-top.custom-navbar(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.icon.icon-bar
            span.icon.icon-bar
            span.icon.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.smoothScroll(href='#home') HOME
            li
              a.smoothScroll(href='#work') WORK
            li
              a.smoothScroll(href='#portfolio') PORTFOLIO
            li
              a.smoothScroll(href='#contact') CONTACT
    // home section
    section#home
      .container
        .row
          .col-md-12.col-sm-12
            h3 WEB DESIGN / WEB DEVELOPMENT / UX DESIGN
            h1 Trevor VanNorman
            hr
            a.smoothScroll.btn.btn-danger(href='#work') What I do
            a.smoothScroll.btn.btn-default(href='#contact') Contact Me
    // work section
    section#work
      .container
        .row
          .col-md-12.col-sm-12
            .section-title
              h1.heading.bold WHAT I DO
              hr
          .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp(data-wow-delay='1s')
            i.icon-desktop.medium-icon
            h3 WEB DESIGN
            hr
            p UX/UI design that appropriately fits your business or organization.
          .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp(data-wow-delay='1s')
            i.icon-gears.medium-icon
            h3 WEB DEVELOPMENT
            hr
            p Front-End development using the latest in HTML, CSS, JS.
          .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp(data-wow-delay='1s')
            i.icon-presentation.medium-icon
            h3 SEO
            hr
            p
              | Organic and paid optimizations empowered with Google Adwords, and Google Analytics.
          .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp(data-wow-delay='1s')
            i.icon-facebook.medium-icon
            h3 SOCIAL MEDIA
            hr
            p
              | Setup and website integration for Facebook, Twitter, Google+, Linkedin, and Youtube.
    // portfolio section
    #portfolio
      .container
        .row
          .col-md-12.col-sm-12
            .section-title
              h1.heading.bold PORTFOLIO
              hr
            // ISO section
            .iso-section
              ul.filter-wrapper.clearfix
                li
              .iso-box-section.wow.fadeIn(data-wow-delay='0.9s')
                .iso-box-wrapper.col4-iso-box
                  .iso-box.done.col-lg-4.col-md-4.col-sm-6
                    a(href='images/portfolio-img1.jpg', data-lightbox-gallery='portfolio-gallery')
                      img(src='images/portfolio-img1.jpg', alt='portfolio img')
                  .iso-box.done.col-lg-4.col-md-4.col-sm-6
                    a(href='images/portfolio-img3.png', data-lightbox-gallery='portfolio-gallery')
                      img(src='images/portfolio-img3.png', alt='portfolio img' )
    // contact section
    section#contact
      .container
        .row
          .col-md-12.col-sm-12.text-center
            .section-title
              strong 06
              h1.heading.bold CONTACT ME
              hr
          .col-md-6.col-sm-12.contact-info
            .col-md-6.col-sm-4
              h3
                i.icon-envelope.medium-icon.wow.bounceIn(data-wow-delay='0.6s')
                |  EMAIL
              p trevor@vannorman.me
            .col-md-6.col-sm-4
              h3
                i.icon-phone.medium-icon.wow.bounceIn(data-wow-delay='0.6s')
                |  PHONE
              p +1 (607) 205-8230  
              p
          .col-md-6.col-sm-12
            form.wow.fadeInUp(action='https://formspree.io/trevor@vannorman.me', method='POST', data-wow-delay='0.6s')
              .col-md-6.col-sm-6
                input.form-control(type='text', placeholder='Name', name='name')
              .col-md-6.col-sm-6
                input.form-control(type='email', placeholder='Email', name='_replyto')
              .col-md-12.col-sm-12
                textarea.form-control(placeholder='Message', rows='7', name='message')
              .col-md-offset-4.col-md-8.col-sm-offset-4.col-sm-8
                input.form-control(type='submit', value='Send')
    // footer section
    footer
      .container
        .row
          .col-md-12.col-sm-12
            p Copyright © Trevor VanNorman 2016
            hr
            ul.social-icon
              li
                a.fa.fa-github.wow.fadeIn(href='#', data-wow-delay='0.3s')
              li
                a.fa.fa-linkedin.wow.fadeIn(href='#', data-wow-delay='0.6s')
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/smoothscroll.js')
    script(src='js/isotope.js')
    script(src='js/imagesloaded.min.js')
    script(src='js/nivo-lightbox.min.js')
    script(src='js/jquery.backstretch.min.js')
    script(src='js/wow.min.js')
    script(src='js/custom.js')
